@import './variables/global.scss';
@import './reset.scss';

body {
    background-color: var(--bg-primary-color);
    font-size: var(--font-m);
    width: 100vw;

    ::-webkit-scrollbar {
        width: 0;
    }
}

.app {
    width: 100vw;
    min-height: 100vh;
}

.no_scroll {
    overflow-y: hidden;
}