@import './variables/global.scss';
@import './reset.scss';

body {
    background-color: var(--bg-primary-color);
    font-size: var(--font-m);
    overflow-x: hidden;
    
    ::-webkit-scrollbar {
        width: 0;
    }
}

.app {
    width: 100vw;
}

.no_scroll {
    overflow-y: hidden;
}