@import './variables/global.scss';
@import './reset.scss';

body {
    background-color: var(--bg-primary-color);
    font-size: var(--font-m);
    overflow-x: hidden;
}

.app {
    width: 100vw;
}

.page-wrapper {
    // margin-top: var(--height-navbar);
}