:root {
    // шрифты
    --font-family-main: 'Courier New', Courier, monospace;
    --font-family-main-title: 'BahnschriftRegular';

    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    --font-size-xxl: 40px;
    --font-line-xxl: 48px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

    // цвета
    --bg-primary-color: #f3f3f3; 
    --bg-secondary-color: #e6e6e6;
    --primary-color: #2d2d2d;
    --secondary-color: #6a6565;
    --third-color: #ece3e3;

    // размеры
    --height-navbar: 80px;
    --max-width-desktop: 1200px;
    --menu-icons-size: 22px;
    --spacing-between-blocks: 50px;
}