.Bestsellers {
    margin-top: var(--spacing-between-blocks);
    background-color: var(--bg-secondary-color);
    width: 100%;
}

.title {
    font-family: var(--font-family-main-title);
    font-size: var(--font-size-xl);
    color: var(--primary-color);
}

.content {
    position: relative;
    overflow-x: scroll;
}

.slider_line {
    display: flex;
    gap: 15px;
    position: relative;
    width: var(--max-width-desktop);
}

.btn_block {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 22px;
}

// @media screen and (max-width: 900px) {
//     .Bestsellers {
//         overflow-x: scroll;
//     }

//     .slider_line {
//         width: 170%;
//         position: relative;
//     }
// }