.Categories {
    margin-top: var(--spacing-between-blocks);
}

.title {
    font-family: var(--font-family-main-title);
    font-size: var(--font-size-xl);
    color: var(--primary-color);
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
