.SidebarCatalog {
    margin-top: calc(var(--height-navbar) + 20px);
    background: var(--bg-secondary-color);
    width: 30%;
    min-height: calc(100vh - (var(--height-navbar) + 20px));
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    font: var(--font-m);
    gap: 10px;
    cursor: pointer;
}