.Navbar {
    background: var(--bg-primary-color);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    box-shadow: 0px 5px 10px var(--bg-secondary-color);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--height-navbar);
    max-width: var(--max-width-desktop);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    width: 250px;
}

.features {
    display: flex;
    gap: 20px;
}

.icons {
    height: var(--menu-icons-size);
    width: var(--menu-icons-size);
}

@media screen and (max-width: 640px) {
    .logo {
        width: 150px;
    }
}
