.BrieflyDelivery {
    margin-top: var(--spacing-between-blocks);
}

.img_block {
    width: 45%;
    margin-right: 15px;
    max-height: 500px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img {
    width: 100%;
}

.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {
    width: 100%;
    display: flex;
    gap: 20px;
}
